<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="/css/issAPIWeb/style.css" />
    <title>ISS Live Location API - Michael Grigoryan</title>
  </head>
  <body>
    <div id="container">
      <!-- Longitude -->
      <label for="#longitude">Longitude:&nbsp;</label>
      <pre>
            <span id="longitude"></span>
        </pre>
      <br />

      <!-- Latitude -->
      <label for="#latitude">Latitude:&nbsp;</label>
      <pre>
            <span id="latitude"></span>
        </pre>
      <br />

      <!-- Timestamp -->
      <label for="#timestamp">Timestamp:&nbsp;</label>
      <pre>
            <span id="timestamp"></span>
        </pre>

      <br />

      <!-- API Status -->
      <br />
      <label for="#status">API Status:&nbsp;</label>
      <pre>
            <span id="status"></span>
        </pre>
    </div>
    <script src="/js/issAPIWeb/script.min.js"></script>
    <%- include ("./partials/footer") %>
  </body>
</html>
