<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISS Live Location API - Michael Grigoryan</title>
</head>
<body>
    <div id="container">
        <label for="#longitude">Longitude</label>
        <div id="longitude">

        </div>
        <label for="#latitude">Latitude</label>
        <div id="latitude">

        </div>
    </div>
    <script src="/js/issAPIWeb/script.js"></script>
</body>
</html>